body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url("/images/coffee_shop.jpg");
  background-size: cover;
  color: #000d33;
  font-family:helvetica;
  font-weight:100;
}

a {
  color: #000d33;
}

body h1 {
    font-size:75px;
}

body p {
    font-size:45px;
}
